.cartelera-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.cartelera-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
}

.cartelera-item-title {
    cursor: pointer;
    color: white;
    background: cornflowerblue;
    border-radius: 20px 20px 0 0;
    padding: 10px 20px;
    border: 3px solid cornflowerblue;
}

.cartelera-item-title:hover {
    color: cornflowerblue;
    background: white;
}

.cartelera-item-content {
    background: #eeeeee;
    border-radius: 0 0 20px 20px;
    padding: 10px 20px;
}